*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bubble-gum-pink: #ff5ab7;
  --black: #1e1e1e;
  --cool-blue: #4386bf;
  --pinkish-grey: #c7c7c7;
  --pale-grey: #f5f6fa;
  --warm-grey: #888;
  --white: #fff;
  --very-light-pink: #c4c4c4;
  --medium-blue: #307bbe;
  --black-two: #121212;
  --azure: #0290ff;
  --white-two: #e8e8e8;
  --white-three: #fafafa;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
form {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style-type: none;
}

body {
  background-color: #4369b2;
  height: 100vh;
}
